*,
*::before,
*::after {
    box-sizing: border-box;
}


@font-face {
	font-family: 'Collegia';
	src: url('fonts/COLLEGIA.ttf');
	src:
		local('COLLEGIA'),
		local('Collegia'),
		url('fonts/COLLEGIA.ttf')
		format('truetype');
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Custom Properties*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #58649f;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

// make fonts bigger on larger font sizes
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}


section {
    padding: 4em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong { font-weight: var(--fw-bold) }

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-light);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1:not([class^="card"]) { font-size: var(--fs-h1) }
h2:not([class^="card"]) { font-size: var(--fs-h2) }
h3:not([class^="card"])  { font-size: var(--fs-h3) }


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.section__subtitle--certificate {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}




/* header */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}



.hamburger {
  display: block;
  position: relative;


}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/*  Intro section  */

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}



/*  My services section  */

.my-services {
  // background-color: #485461;
  // background-image: linear-gradient(210deg,  #333 0%,  #474957 74%);
  background-color: #485461;
  background-image: linear-gradient(210deg, #6c76bf 0%, #333 74%);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    padding-left: .2em;

}

.section__title--services {
    color: var(--clr-light);
    position: relative;
    font-size: 2em;
    font-weight: bolder;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.services {
    margin-bottom: 4em;
}

// .service {
//     max-width: 500px;
//     margin: 0 auto;
// }

@media (min-width: 800px) {
    .services {
        display: flex;
        //max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    // .service + .service {
    //     margin-left: 2em;
    // }
}



.about-me {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
      display: grid;
      grid-template-columns: 1fr 250px;
      grid-template-areas:
          "title img"
          "subtitle img"
          "text img";
      grid-column-gap: 2em;
  }

  .section__title--about {
      grid-area: title;
  }

  .section__subtitle--about {

      grid-column: 1 / -1;
      grid-row: 2;
      position: relative;
      left: -1em;
      width: calc(100% + 2em);
      padding-left: 1em;
      padding-right: calc(200px + 4em);

    }

    .about-me__img {
      grid-area: img;
      position: relative;
      z-index: 2;
    }
  }

  @media (max-width: 600px) {
    section {
     min-width: 410px;
    }
    .card {
      margin-left: 1em;
      margin-right: 1em;


  }
}

/* My Work */

.my-work {
  // background-color: var(--clr-dark);
  // background-image: url(../img/tools-bg.jpg);
  background-color: #485461;
   background-image: linear-gradient(210deg, #6c76bf 0%, #333 74%);
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
  padding-top: 1.5em;
  margin-bottom: .5em;
  padding-left: .2em;

}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.portfolio__item {
  background: transparent;
  overflow: hidden;
  margin:.5em;

}


.portfolio__img{
  height: 6em;

}

/* My certificates */

.my-certificates {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
  // margin: 0 7.975em;
  // padding: 5.625em 2.250em;
  padding: 4em 2em;
}

.certificates {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-left:0em;
   padding-right: 2em;

}

.my-certificates .section__title {
  padding-right: 2em;
}

.section__subtitle--certificate {
  padding-right: 2em;
}

.certificate__item {
  background: var(--clr-accent);
  overflow: hidden;
}

.certificate__img {

  transition:
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;

}

// .certificate__img:hover {
//   transform: scale(2);
// }









/* footer */

.footer {
  background:var(--clr-light);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);

}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}




@media (max-width: 480px){
  .card {
    border: .1em solid var(--clr-accent);

  }
  .card__svg {
    visibility: hidden;
  }
  .card__title {
    padding-top: 1em;

  }
  .intro {
    min-width: 100%;
    padding-right: .5em;
    padding-left: .5em;
  }
  .about-me {
    // padding-left: .5em;
    // padding-right: .5em;
    min-width: 100%;
    // margin: 0 auto;
  }



}


















// =========================================================================


// img {
//   max-width: 100%;
// }


.services {
  // width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {

  // align-items: center;
  // justify-content: center;
  // height: 100vh;
  // margin: 0;

}

.card {
  position: relative;
  background: #333;
  max-width: 400px;
  // height: 70vh;
  border-radius: 6px;
  padding: 2rem;
  color: #aaa;
  box-shadow: 0 .25rem .25rem rgba(0,0,0,0.2),
    0 0 1rem rgba(0,0,0,0.2);
  overflow: hidden;
  margin-bottom: 1rem;

  &__image-container {
    margin: -2rem -2rem 1rem -2rem;
  }

  &__line {
  opacity: 0;
  animation: LineFadeIn .8s .8s forwards ease-in;
  }

  &__image {
    // mix-blend-mode: screen;
    opacity: 0;
    height: 20.5rem;
    object-fit: cover;
    animation: ImageFadeIn .8s 1.4s forwards;
  }

  &__title {
    color: white;
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
  }

  &__content {
    margin-top: -1rem;
    opacity: 0;
    animation: ContentFadeIn .8s 1.6s forwards;
  }

  &__svg {
    position: absolute;
    left: 0;
    top: 116px;
  }
  &__links{
    display: flex;
    justify-content: space-around;
  }
  & a {
    color:#bbb;
  }
}


.devicon-github-plain-wordmark {
  display: inline-block;
  font-size: 2em;
}
.fa-eye{
  display: inline-block;
  font-size: 1.5em;

}

.fa-eye span {
  display: block;
  font-size: .5em;
  line-height: .8em;
  font-family: 'Collegia';;

}


@keyframes LineFadeIn {
  0% { opacity: 0; d: path("M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 "); stroke: #fff; }
  50% { opacity: 1; d: path("M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300"); stroke: #888BFF; }
  100% { opacity: 1; d: path("M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400"); stroke: #545581; }
}

@keyframes ContentFadeIn {
  0% { transform: translateY(-1rem); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes ImageFadeIn {
  0% { transform: translate(-.5rem, -.5rem) scale(1.05); opacity: 0; filter: blur(2px); }
  50% { opacity: 1; filter: blur(2px); }
  100% { transform: translateY(0) scale(1.0); opacity: 1; filter: blur(0); }
}
